{#
    request_params - параметры запроса
    objects_types - типы объектов
#}

<div class="content-table">
    <div class="content-table__container">

        {% if objects_types | length > 0 %}
            <table>
                <thead>
                    <tr>
                        <th class="text-center" width="10%">№ п/п</th>
                        <th class="text-start">Тип объекта</th>
                        <th class="text-start">Описание типа объекта</th>
                    </tr>
                </thead>

                <tbody>
                    {% for object_type in objects_types %}
                        <tr>
                            <td class="text-center">{{ object_type.id }}</td>
                            <td class="text-start">{{ object_type.name }}</td>
                            <td class="text-start">{{ object_type.description }}</td>
                            
                            <td class="td-btn-default">
                                <svg class="hover" onclick="load_fmodal_type_object_edit({{ object_type.id }})"><use xlink:href="#svg-edit"></use></svg>
                            </td>
                            <td class="td-btn-default">
                                <svg class="hover" onclick="delete_book_object_type({{ object_type.id }})"><use xlink:href="#svg-del"></use></svg>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div style="display: flex; gap: 10px; align-items: center; flex-direction: column; justify-content: center; height: 100%;font-size: 2rem;">
                <span style="font-size: 3rem;">🙁</span>
                
                {% if request_params.control_panel_condition != '' %}
                    <span>Таких типов объектов не нашлось</span>
                {% else %}
                    <span>Объектов нет!</span>
                {% endif %}

                <button data-fancybox data-src="#fmodal-book-new-type-doc" class="btn">Добавить</button>
            </div>
        {% endif %}

    </div>
</div>