{#
    request_params - параметры запроса
    users - пользователи
    paths - пути
    current_user - текущий пользователь
#}

<div class="content-table content-table--control">
    <div class="content-table__container">

        {% if users | length > 0 %}
            <table>
                <thead>
                    <tr>
                        <th class="text-start" width="10%">Фото</th>
                        <th class="text-start">Сотрудник/Отдел</th>
                        <th class="text-start">Телефон</th>
                        <th class="text-start">Почта</th>
                    </tr>
                </thead>

                <tbody>
                    {% for user in users %}
                        {% set name = user.surname ~ ' ' ~ user.name ~ ' ' ~ user.patronymic %}
                        {% set avatar = user.avatar_file_name ? paths.public_urn.users_avatars ~ '/' ~ user.avatar_file_name : paths.public_urn.default_images ~ '/avatar.png' %}

                        <tr {% if current_user.id != user.id %}onclick="open_modal_user({{ user.id }})"{% endif %} class="pointer" {% if current_user.id == user.id %}style="background-color: var(--clr-4);" onclick="$('.modal-current-user').addClass('open');add_body_bg();"{% endif %}>
                            <td class="td-avatar">
                                <svg><use xlink:href="#svg-user"></use></svg>
                                <img src="{{ avatar }}" alt="{{ user.surname }}">
                            </td>
                            <td class="text-start">
                                <span>{{ name | trim }}</span>
                                <br>
                                <span class="text-secondary">{{ user.post.name }}</span>
                            </td>
                            <td class="text-start">{{ user.tel | default('-')}}</td>
                            <td class="text-start">{{ user.email | default('-') }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %} {# Если пользователей нет #}
            <div style="display: flex; gap: 10px; align-items: center; flex-direction: column; justify-content: center; height: 100%;font-size: 2rem;">
                <span style="font-size: 3rem;">🙁</span>

                {% if request_params.control_panel_condition != '' %}
                    <span>Пользователей не нашлось</span>
                {% else %}
                    <span>Пользователей нет!</span>
                {% endif %}

                <button data-modal-user-add class="btn">Добавить ногого сотрудника</button>
            </div>
        {% endif %}

    </div>
</div>