{#
    request_params - данные запроса
    user - массив с пользователем
    paths - пути
    twig_components_data - данные для компонентов
        posts - посты
    user_statuses - именованные статусы
#}

{% set name = user.surname ~ ' ' ~ user.name ~ ' ' ~ user.patronymic %}
{% set avatar = user.avatar_file_name ? paths.public.users_avatars ~ '/' ~ user.avatar_file_name : paths.public.default_images ~ '/avatar.png' %}

<!-- Start Модалка просмотра сотрудника -->
<div id="modal-user" class="modal modal-user {% if request_params.is_open %}open{% endif %}" data-user-id="{{ user.id }}">
    <svg data-modal-close class="modal__close"><use xlink:href="#svg-close"></use></svg>

    <div class="modal__container">

        <!-- Start Шапка модалки -->
        <div class="modal__header">
            <div class="modal__header-left">
                
                <div class="modal__info">
                    <div class="modal__info-img" data-fancybox data-src="{{ avatar }}">
                        <svg class="modal__info-avatarDefault"><use xlink:href="#svg-user"></use></svg>
                         <img class="modal__info-avatar" src="{{ avatar }}">
                    </div>
                    <div class="modal__info-title">
                        <span class="modal__info-title-h1">{{ name | trim }}</span>
                        <span class="modal__info-title-h2">{{ user.post.name | default('Должность не задана') }}</span>
                    </div>
                </div>

            </div>

            <div class="modal__header-right tabs-outside-worker">
                <div class="modal__header-group-btns tab-outside tab-outside--active" data-outside-id="1">
                    <button class="modal__header-btn modal__header-btn-edit btn">Редактировать</button>
                    <button class="modal__header-btn modal__header-btn-save btn-good" style="display: none;">Сохранить</button>

                    {% if user.status == user_statuses.STATUS_BLOCKED %}
                        <button class="modal__header-btn btn-good" onclick="chenge_user_status({{ user.id }}, {{ user_statuses.STATUS_ACTIVE }}).then((r) => { $('#modal-user .modal__close').trigger('click') });">Разблокировать</button>
                    {% else %}
                        <button class="modal__header-btn btn-bad" onclick="chenge_user_status({{ user.id }}, {{ user_statuses.STATUS_BLOCKED }}).then((r) => { $('#modal-user .modal__close').trigger('click') });">Заблокировать</button>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- End Шапка модалки -->

        <!-- Start Основное содержимое модалки -->
        <div class="modal__main">

            <div class="tabs" data-outside="worker"> 

                <!-- Start tabs__header -->
                <div class="tabs__header tabs__header--one">
                    <div data-id="1" class="tabs__tab tabs__tab--active">
                        Информация
                    </div>
                </div>
                <!-- End tabs__header -->

                <!-- Start tabs__content -->
                <div class="tabs__content">
                    
                    <!-- Start tab content 1 -->
                    <div data-id="1" class="tabs__item tabs__item--active">
                        
                        <div class="modal-user__data-view view" style="display:flex;flex-direction:column;gap:inherit;">
                            <div class="block-info">
                                <div class="block-info__title">О сотруднике</div>

                                <div class="block-info__content" style="grid-template-columns: repeat(3, 1fr);">
                                    <div class="block-info__item">
                                        <span class="block-info__text-secondary">Фамилия</span>
                                        <span class="block-info__text-main">{{ user.surname | default('-') }}</span>
                                    </div>
                                    <div class="block-info__item">
                                        <span class="block-info__text-secondary">Имя</span>
                                        <span class="block-info__text-main">{{ user.name | default('-') }}</span>
                                    </div>
                                    <div class="block-info__item">
                                        <span class="block-info__text-secondary">Отчество</span>
                                        <span class="block-info__text-main">{{ user.patronymic | default('-') }}</span>
                                    </div>
                                    <div class="block-info__item">
                                        <span class="block-info__text-secondary">Дата рождения</span>
                                        <span class="block-info__text-main">{{ user.birth | date('d.m.Y') }}</span>
                                    </div>
                                    <div class="block-info__item">
                                        <span class="block-info__text-secondary">Должность</span>
                                        <span class="block-info__text-main">{{ user.post.name | default('-') }}</span>
                                    </div>
                                    <div class="block-info__item">
                                        <span class="block-info__text-secondary">Телефон</span>
                                        <span class="block-info__text-main">{{ user.tel | default('-') }}</span>
                                    </div>
                                    <div class="block-info__item">
                                        <span class="block-info__text-secondary">Почта</span>
                                        <span class="block-info__text-main">{{ user.email | default('-') }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-user__data-edit edit" style="display: none;">
                            <div class="block-info">
                                <div class="block-info__title">О сотруднике</div>
                            
                                    <div class="block-info__content" style="grid-template-columns: repeat(3, 1fr);">

                                        <div class="block-info__item">
                                            {% include 'components/input-text.twig' with {
                                                settings: {
                                                    db_field_name: 'surname',
                                                    val: user.surname,
                                                    pls: 'Фамилия пользователя'
                                                }
                                            } %}
                                        </div>

                                        <div class="block-info__item">
                                            {% include 'components/input-text.twig' with {
                                                settings: {
                                                    db_field_name: 'name',
                                                    required: true,
                                                    val: user.name,
                                                    pls: 'Имя пользователя'
                                                }
                                            } %}
                                        </div>

                                        <div class="block-info__item">
                                            {% include 'components/input-text.twig' with {
                                                settings: {
                                                    db_field_name: 'patronymic',
                                                    val: user.patronymic,
                                                    pls: 'Отчество пользователя'
                                                }
                                            } %}
                                        </div>

                                        <div class="block-info__item">
                                            {% include 'components/input-date.twig' with {
                                                settings: {
                                                    db_field_name: 'birth',
                                                    val: user.birth,
                                                    pls: 'Дата рождения'
                                                }
                                            } %}
                                        </div>

                                        <div class="block-info__item">
                                            {% include 'components/select.twig' with twig_components_data.posts %}
                                        </div>

                                        <div class="block-info__item">
                                            {% include 'components/input-text.twig' with {
                                                settings: {
                                                    db_field_name: 'tel',
                                                    val: user.tel,
                                                    pls: 'Телефон пользователя'
                                                }
                                            } %}
                                        </div>

                                        <div class="block-info__item">
                                            {% include 'components/input-text.twig' with {
                                                settings: {
                                                    db_field_name: 'email',
                                                    required: true,
                                                    val: user.email,
                                                    pls: 'Email пользователя'
                                                }
                                            } %}
                                        </div>

                                    </div>
                            </div>

                        </div>

                    </div>
                    <!-- End tab content 1 -->

                </div>
                <!-- End tabs__content -->
            </div>

        </div>
        <!-- End Основное содержимое модалки -->



    </div>
</div>
<!-- End Модалка просмотра сотрудника -->

{# Start функционал сохранения данных #}
<script>
    save_big_modal('modal-user', async function() {
        let user_id = $('#modal-user').data('user-id');
        
        let url = API_V1_URLS.users.update;
        let formData = cpns_get_formdata_by_wrapper('#modal-user .tabs__item[data-id="1"] .modal-user__data-edit');
        formData.append('id', user_id);

        return await xpost_fd(url, formData).then(response => {
            dd(response, response.message, 'success');
            push(response.message, 'success');

            load_modal_user(user_id, true); // Обновляем

            xrender_main_table_users();

            return new Promise((resolve, reject) => {
                resolve(response);
            });

        }).catch(response => {
            let mes = response.message ? response.message : 'Неизвестная ошибка';
            let resp = response ? response : 'Нет объекта ответа';

            dd(resp, mes, 'error');
            push(mes, 'error');

            return new Promise((resolve, reject) => {
                reject(resp);
            });
        });

    }, 1);
</script>
{# End функционал сохранения данных #}