{#
    request_params - данные из запроса
    user - пользователь
#}

<div id="modal-current-user" class="modal open modal-current-user">
    <svg data-modal-close class="modal__close"><use xlink:href="#svg-close"></use></svg>

    <div class="modal__container">

        {# Start Шапка модалки #}
        <div class="modal__header">
            <div class="modal__header-left">
                
                <div class="modal__info">
                    <div class="modal__info-title">
                        <span class="modal__info-title-h1">{{ user.name }}</span>
                    </div>
                </div>

            </div>

            {# Start Кнопки управления #}
            <div class="modal__header-right tabs-outside-controlCU">
                <div class="modal__header-group-btns tab-outside tab-outside--active" data-outside-id="1">
                    <button class="modal__header-btn modal__header-btn-edit btn">Редактировать</button>
                    <button class="modal__header-btn modal__header-btn-save btn-good" style="display: none;">Сохранить</button>
                </div>
            </div>
            {# End Кнопки управления #}
        </div>
        {# End Шапка модалки #}

        {# Start Основное содержимое модалки #}
        <div class="modal__main">

            <div class="tabs" data-outside="controlCU">

                {# Start tabs__header #}
                <div class="tabs__header">
                    <div data-id="1" class="tabs__tab tabs__tab--active">
                        Информация
                    </div>
                </div>
                {# End tabs__header #}

                {# Start tabs__header #}
                <div class="tabs__content">
                    
                    {# Start tab content 1 #}
                    <div data-id="1" class="tabs__item tabs__item--active">
                        
                        <div class="modal__data-view modal-current-user__data-view view">
                            <div class="block-info">
                                <div class="block-info__title">Основные данные</div>

                                <div class="block-info__content">
                                    <div class="block-info__item">
                                        <span class="block-info__text-secondary">Имя</span>
                                        <span class="block-info__text-main">{{ user.name }}</span>
                                    </div>

                                    <div class="block-info__item">
                                        <span class="block-info__text-secondary">Фамилия</span>
                                        <span class="block-info__text-main">{{ user.surname }}</span>
                                    </div>

                                    <div class="block-info__item">
                                        <span class="block-info__text-secondary">Отчество</span>
                                        <span class="block-info__text-main">{{ user.patronymic }}</span>
                                    </div>

                                    <div class="block-info__item">
                                        <span class="block-info__text-secondary">Дата рождения</span>
                                        <span class="block-info__text-main">{{ user.birth | date('d.m.Y') }}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="block-info">
                                <div class="block-info__title">Контактная информация</div>

                                <div class="block-info__content">
                                    <div class="block-info__item">
                                        <span class="block-info__text-secondary">Телефон</span>
                                        <span class="block-info__text-main">{{ user.tel }}</span>
                                    </div>

                                    <div class="block-info__item">
                                        <span class="block-info__text-secondary">Email</span>
                                        <span class="block-info__text-main">{{ user.email }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal__data-edit modal-current-user__data-edit edit" style="display: none;">
                            
                            <div class="block-info">
                                <div class="block-info__title">Контактная информация</div>
                            
                                <div class="block-info__content">
                                    
                                    <div class="block-info__item">
                                        {% include 'components/input-text.twig' with {
                                            settings: {
                                                db_field_name: 'name',
                                                val: user.name,
                                                pls: 'Ваше имя'
                                            }
                                        } %}
                                    </div>

                                    <div class="block-info__item">
                                        {% include 'components/input-text.twig' with {
                                            settings: {
                                                db_field_name: 'surname',
                                                val: user.surname,
                                                pls: 'Ваша фамилия'
                                            }
                                        } %}
                                    </div>

                                    <div class="block-info__item">
                                        {% include 'components/input-text.twig' with {
                                            settings: {
                                                db_field_name: 'patronymic',
                                                val: user.patronymic,
                                                pls: 'Ваше отчество'
                                            }
                                        } %}
                                    </div>

                                    <div class="block-info__item">
                                        {% include 'components/input-date.twig' with {
                                            settings: {
                                                db_field_name: 'birth',
                                                pls: 'Дата рождения',
                                                val: user.birth
                                            }
                                        } %}
                                    </div>


                                </div>
                            </div>

                            <div class="block-info">
                                <div class="block-info__title">Контактная информация</div>
                            
                                <div class="block-info__content">
                                    
                                    <div class="block-info__item">
                                        {% include 'components/input-text.twig' with {
                                            settings: {
                                                db_field_name: 'tel',
                                                val: user.tel,
                                                pls: 'Ваш телефон'
                                            }
                                        } %}
                                    </div>

                                    <div class="block-info__item">
                                        {% include 'components/input-text.twig' with {
                                            settings: {
                                                db_field_name: 'email',
                                                val: user.email,
                                                pls: 'Ваш email'
                                            }
                                        } %}
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                    {# End tab content 1 #}

                </div>
                {# End tabs__header #}
            </div>

        </div>
        <!-- End Основное содержимое модалки -->



    </div>
</div>
<!-- End Модалка просмотра клиента -->