{#
    request_params - данные из запроса
    user - пользователь
#}
{% set user = current_user() %}
{% set paths = app().paths %}
{% set name = user.surname ~ ' ' ~ user.name ~ ' ' ~ user.patronymic %}
{% set avatar = user.avatar_file_name ? paths.public.users_avatars ~ '/' ~ user.avatar_file_name : paths.public.default_images ~ '/avatar.png' %}

<div id="modal-current-user" class="modal modal-current-user {% if request_params.is_open %}open{% endif %}" data-user-id="{{ user.id }}">
    <svg data-modal-close class="modal__close"><use xlink:href="#svg-close"></use></svg>

    <div class="modal__container">

        {# Start Шапка модалки #}
        <div class="modal__header">
            <div class="modal__header-left">
                
                <div class="modal__info">
                    <div class="modal__info-img" data-fancybox data-src="{{ avatar }}">
                        <svg class="modal__info-avatarDefault"><use xlink:href="#svg-user"></use></svg>
                         <img class="modal__info-avatar" src="{{ avatar }}">
                    </div>
                    <div class="modal__info-title">
                        <span class="modal__info-title-h1">{{ name | trim }}</span>
                        <span class="modal__info-title-h2">{{ user.post.name | default('Должность не задана') }}</span>
                    </div>
                </div>

            </div>

            {# Start Кнопки управления #}
            <div class="modal__header-right tabs-outside-controlCU">
                <div class="modal__header-group-btns tab-outside tab-outside--active" data-outside-id="1">
                    <button class="modal__header-btn modal__header-btn-edit btn">Редактировать</button>
                    <button class="modal__header-btn modal__header-btn-save btn-good" style="display: none;">Сохранить</button>
                </div>

                <div class="modal__header-group-btns tab-outside" data-outside-id="2">
                    <button class="modal__header-btn modal__header-btn-edit btn">Редактировать</button>
                    <button class="modal__header-btn modal__header-btn-save btn-good" style="display: none;">Сохранить</button>
                </div>
            </div>
            {# End Кнопки управления #}
        </div>
        {# End Шапка модалки #}

        {# Start Основное содержимое модалки #}
        <div class="modal__main">

            <div class="tabs" data-outside="controlCU">

                {# Start tabs__header #}
                <div class="tabs__header" style="justify-content: flex-start; gap: 30px;">
                    <div data-id="1" class="tabs__tab tabs__tab--active">
                        Информация
                    </div>
                    <div data-id="2" class="tabs__tab">
                        Данные для входа
                    </div>
                </div>
                {# End tabs__header #}

                {# Start tabs__header #}
                <div class="tabs__content">
                    
                    {# Start tab content 1 #}
                    <div data-id="1" class="tabs__item tabs__item--active">
                        
                        <div class="modal__data-view modal-current-user__data-view view">
                            <div class="block-info">
                                <div class="block-info__title">Основные данные</div>

                                <div class="block-info__content">
                                    <div class="block-info__item">
                                        <span class="block-info__text-secondary">Имя</span>
                                        <span class="block-info__text-main">{{ user.name | default('-') }}</span>
                                    </div>

                                    <div class="block-info__item">
                                        <span class="block-info__text-secondary">Фамилия</span>
                                        <span class="block-info__text-main">{{ user.surname | default('-') }}</span>
                                    </div>

                                    <div class="block-info__item">
                                        <span class="block-info__text-secondary">Отчество</span>
                                        <span class="block-info__text-main">{{ user.patronymic | default('-') }}</span>
                                    </div>

                                    <div class="block-info__item">
                                        <span class="block-info__text-secondary">Дата рождения</span>
                                        <span class="block-info__text-main">
                                            {% if user.birth %}
                                                {{ user.birth | date('d.m.Y') }}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="block-info">
                                <div class="block-info__title">Контактная информация</div>

                                <div class="block-info__content">
                                    <div class="block-info__item">
                                        <span class="block-info__text-secondary">Телефон</span>
                                        <span class="block-info__text-main">{{ user.tel | default('-') }}</span>
                                    </div>

                                    <div class="block-info__item">
                                        <span class="block-info__text-secondary">Email (логин)</span>
                                        <span class="block-info__text-main">{{ user.email | default('-') }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal__data-edit modal-current-user__data-edit edit" style="display: none;">
                            
                            <div class="block-info">
                                <div class="block-info__title">Контактная информация</div>
                            
                                <div class="block-info__content">
                                    
                                    <div class="block-info__item">
                                        {% include 'components/input-text.twig' with {
                                            settings: {
                                                db_field_name: 'name',
                                                required: true,
                                                val: user.name,
                                                pls: 'Мое имя'
                                            }
                                        } %}
                                    </div>

                                    <div class="block-info__item">
                                        {% include 'components/input-text.twig' with {
                                            settings: {
                                                db_field_name: 'surname',
                                                val: user.surname,
                                                pls: 'Моя фамилия'
                                            }
                                        } %}
                                    </div>

                                    <div class="block-info__item">
                                        {% include 'components/input-text.twig' with {
                                            settings: {
                                                db_field_name: 'patronymic',
                                                val: user.patronymic,
                                                pls: 'Мое отчество'
                                            }
                                        } %}
                                    </div>

                                    <div class="block-info__item">
                                        {% include 'components/input-date.twig' with {
                                            settings: {
                                                db_field_name: 'birth',
                                                pls: 'Дата рождения',
                                                val: user.birth
                                            }
                                        } %}
                                    </div>


                                </div>
                            </div>

                            <div class="block-info">
                                <div class="block-info__title">Контактная информация</div>
                            
                                <div class="block-info__content">
                                    
                                    <div class="block-info__item">
                                        {% include 'components/input-text.twig' with {
                                            settings: {
                                                db_field_name: 'tel',
                                                val: user.tel,
                                                pls: 'Мой телефон'
                                            }
                                        } %}
                                    </div>

                                    <div class="block-info__item">
                                        {% include 'components/input-text.twig' with {
                                            settings: {
                                                db_field_name: 'email',
                                                val: user.email,
                                                pls: 'Мой email (логин)'
                                            }
                                        } %}
                                    </div>

                                </div>
                            </div>

                            <div class="block-info">
                                <div class="block-info__title">Фотография</div>
                            
                                <div class="block-info__content">
                                    
                                    <div class="block-info__item">
                                        {% include 'components/photo-add.twig' with {
                                            settings: {
                                                db_field_name: 'avatar',
                                                btn_text: 'Загрузить фото профиля',
                                                image_url: avatar
                                            }
                                        } %}
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                    {# End tab content 1 #}

                    {# Start tab content 2 #}
                    <div data-id="2" class="tabs__item">
                        
                        <div class="modal__data-view modal-current-user__data-view view">
                            <div class="block-info">
                                <div class="block-info__title">Логин и пароль</div>

                                <div class="block-info__content">
                                    <div class="block-info__item">
                                        <span class="block-info__text-secondary">Email (логин)</span>
                                        <span class="block-info__text-main">{{ user.email | default('-') }}</span>
                                    </div>
                                </div>

                                <div class="block-info__content">
                                    <div class="block-info__item">
                                        <span class="block-info__text-secondary">Пароль</span>
                                        <span class="block-info__text-main">Скрыт</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal__data-edit modal-current-user__data-edit edit" style="display: none;">

                            <div class="block-info">
                                <div class="block-info__title">Логин и пароль</div>
                                <p style="color: var(--clr-5);">Пароль скрыт.<br>Вы можете придумать новый пароль тем самым изменив старый</p>
                            
                                <div class="block-info__content">

                                    <div class="block-info__item">
                                        {% include 'components/input-text.twig' with {
                                            settings: {
                                                db_field_name: 'email',
                                                val: user.email,
                                                pls: 'Мой email (логин)'
                                            }
                                        } %}
                                    </div>

                                    <div class="block-info__item">
                                        {% include 'components/input-text.twig' with {
                                            settings: {
                                                db_field_name: 'password',
                                                pls: 'Введите новый пароль'
                                            }
                                        } %}
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                    {# End tab content 2 #}

                </div>
                {# End tabs__header #}
            </div>

        </div>
        <!-- End Основное содержимое модалки -->

    </div>
</div>


{# Start скрипт сохранения таба 1 #}
<script>
    save_big_modal('modal-current-user', async () => {
        let user_id = $('#modal-current-user').data('user-id');
        
        let url = API_V1_URLS.currentuser.update;

        let formData = cpns_get_formdata_by_wrapper('#modal-current-user .tabs__item[data-id="1"] .modal-current-user__data-edit');

        formData.append('id', user_id);

        return await xpost_fd(url, formData).then(response => {
            dd(response, response.message, 'success');
            push(response.message, 'success');

            modal_load_edit_current_user(1);

            return new Promise((resolve, reject) => {
                resolve(response);
            });

        }).catch(response => {
            dd(response, response.message, 'error');
            push(response.message, 'error');

            return new Promise((resolve, reject) => {
                reject(resp);
            });
        });
    }, 1);
</script>
{# End скрипт сохранения таба 1 #}

{# Start скрипт сохранения таба 2 #}
<script>
    save_big_modal('modal-current-user', async () => {
        let user_id = $('#modal-current-user').data('user-id');
        
        let url = API_V1_URLS.currentuser.update;

        let formData = cpns_get_formdata_by_wrapper('#modal-current-user .tabs__item[data-id="2"] .modal-current-user__data-edit');

        formData.append('id', user_id);
        formData.append('event_name', 'chenge_password');

        return await xpost_fd(url, formData).then(response => {
            dd(response, response.message, 'success');
            push(response.message, 'success');

            modal_load_edit_current_user(1);

            return new Promise((resolve, reject) => {
                resolve(response);
            });

        }).catch(response => {
            dd(response, response.message, 'error');
            push(response.message, 'error');

            return new Promise((resolve, reject) => {
                reject(resp);
            });
        });
    }, 2);
</script>
{# End скрипт сохранения таба 2 #}