{#
    request_params - данные из запроса
    user - пользователь
#}

<div id="modal-current-user" class="modal modal-current-user {% if request_params.is_open %}open{% endif %}" data-user-id="{{ user.id }}">
    <svg data-modal-close class="modal__close"><use xlink:href="#svg-close"></use></svg>

    <div class="modal__container">

        {# Start Шапка модалки #}
        <div class="modal__header">
            <div class="modal__header-left">
                
                <div class="modal__info">
                    <div class="modal__info-title">
                        <span class="modal__info-title-h1">{{ user.name }}</span>
                    </div>
                </div>

            </div>

            {# Start Кнопки управления #}
            <div class="modal__header-right tabs-outside-controlCU">
                <div class="modal__header-group-btns tab-outside tab-outside--active" data-outside-id="1">
                    <button class="modal__header-btn modal__header-btn-edit btn">Редактировать</button>
                    <button class="modal__header-btn modal__header-btn-save btn-good" style="display: none;">Сохранить</button>
                </div>
            </div>
            {# End Кнопки управления #}
        </div>
        {# End Шапка модалки #}

        {# Start Основное содержимое модалки #}
        <div class="modal__main">

            <div class="tabs" data-outside="controlCU">

                {# Start tabs__header #}
                <div class="tabs__header">
                    <div data-id="1" class="tabs__tab tabs__tab--active">
                        Информация
                    </div>
                </div>
                {# End tabs__header #}

                {# Start tabs__header #}
                <div class="tabs__content">
                    
                    {# Start tab content 1 #}
                    <div data-id="1" class="tabs__item tabs__item--active">
                        
                        <div class="modal__data-view modal-current-user__data-view view">
                            <div class="block-info">
                                <div class="block-info__title">Основные данные</div>

                                <div class="block-info__content">
                                    <div class="block-info__item">
                                        <span class="block-info__text-secondary">Имя</span>
                                        <span class="block-info__text-main">{{ user.name | default('-') }}</span>
                                    </div>

                                    <div class="block-info__item">
                                        <span class="block-info__text-secondary">Фамилия</span>
                                        <span class="block-info__text-main">{{ user.surname | default('-') }}</span>
                                    </div>

                                    <div class="block-info__item">
                                        <span class="block-info__text-secondary">Отчество</span>
                                        <span class="block-info__text-main">{{ user.patronymic | default('-') }}</span>
                                    </div>

                                    <div class="block-info__item">
                                        <span class="block-info__text-secondary">Дата рождения</span>
                                        <span class="block-info__text-main">{{ user.birth | date('d.m.Y') | default('-') }}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="block-info">
                                <div class="block-info__title">Контактная информация</div>

                                <div class="block-info__content">
                                    <div class="block-info__item">
                                        <span class="block-info__text-secondary">Телефон</span>
                                        <span class="block-info__text-main">{{ user.tel | default('-') }}</span>
                                    </div>

                                    <div class="block-info__item">
                                        <span class="block-info__text-secondary">Email</span>
                                        <span class="block-info__text-main">{{ user.email | default('-') }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal__data-edit modal-current-user__data-edit edit" style="display: none;">
                            
                            <div class="block-info">
                                <div class="block-info__title">Контактная информация</div>
                            
                                <div class="block-info__content">
                                    
                                    <div class="block-info__item">
                                        {% include 'components/input-text.twig' with {
                                            settings: {
                                                db_field_name: 'name',
                                                required: true,
                                                val: user.name,
                                                pls: 'Мое имя'
                                            }
                                        } %}
                                    </div>

                                    <div class="block-info__item">
                                        {% include 'components/input-text.twig' with {
                                            settings: {
                                                db_field_name: 'surname',
                                                val: user.surname,
                                                pls: 'Моя фамилия'
                                            }
                                        } %}
                                    </div>

                                    <div class="block-info__item">
                                        {% include 'components/input-text.twig' with {
                                            settings: {
                                                db_field_name: 'patronymic',
                                                val: user.patronymic,
                                                pls: 'Мое отчество'
                                            }
                                        } %}
                                    </div>

                                    <div class="block-info__item">
                                        {% include 'components/input-date.twig' with {
                                            settings: {
                                                db_field_name: 'birth',
                                                pls: 'Дата рождения',
                                                val: user.birth
                                            }
                                        } %}
                                    </div>


                                </div>
                            </div>

                            <div class="block-info">
                                <div class="block-info__title">Контактная информация</div>
                            
                                <div class="block-info__content">
                                    
                                    <div class="block-info__item">
                                        {% include 'components/input-text.twig' with {
                                            settings: {
                                                db_field_name: 'tel',
                                                val: user.tel,
                                                pls: 'Мой телефон'
                                            }
                                        } %}
                                    </div>

                                    <div class="block-info__item">
                                        {% include 'components/input-text.twig' with {
                                            settings: {
                                                db_field_name: 'email',
                                                val: user.email,
                                                pls: 'Мой email'
                                            }
                                        } %}
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                    {# End tab content 1 #}

                </div>
                {# End tabs__header #}
            </div>

        </div>
        <!-- End Основное содержимое модалки -->



    </div>
</div>


{# Start скрипт сохранения #}
<script>
    $(document).ready(() => {
        cpns_form_validate('#modal-current-user .modal-current-user__data-edit', '.modal__header-btn-save');
    });

    save_big_modal('modal-current-user', async () => {
        let user_id = $('#modal-current-user').data('user-id');
        
        let url = API_V1_URLS.users.update;

        let formData = cpns_get_formdata_by_wrapper('#modal-current-user .modal-current-user__data-edit');

        formData.append('id', user_id);

        return await xpost_fd(url, formData).then(response => {
            dd(response, response.message, 'success');
            push(response.message, 'success');

            edit_current_user(1);

            return new Promise((resolve, reject) => {
                resolve(response);
            });

        }).catch(response => {
            dd(response, response.message, 'error');
            push(response.message, 'error');

            return new Promise((resolve, reject) => {
                reject(resp);
            });
        });
    });
</script>
{# End скрипт сохранения #}