{#
    request_params - данные из запроса
    object - выгрузка из базы данных. Конкретный объект
    twig_components_data - данные для элементов
#}

{% set paths = app().paths.public %}
{% set photo_object = paths.object_photos ~ '/' ~ object.photo_file_name %}

<div id="modal-object" class="modal modal-object {% if request_params.is_open %}open{%endif%}" data-object-id="{{ object.id }}">
    <svg data-modal-close class="modal__close"><use xlink:href="#svg-close"></use></svg>

    <div class="modal__container">

        <!-- Start Шапка модалки -->
        <div class="modal__header">
            <div class="modal__header-left">
                
                <div class="modal__info">
                    <div class="modal__info-img" data-fancybox data-src="{{ photo_object }}">
                        <svg class="modal__info-objectDefault"><use xlink:href="#svg-photo-default"></use></svg>
                        
                        {% if object.photo_file_name %}
                            <img class="modal__info-object" src="{{ photo_object }}">
                        {% endif %}
                    </div>

                    <div class="modal__info-title">
                        <span class="modal__info-title-h1">Марка: {{ object.brand | default('не определена') }}, Модель: {{ object.model | default('не определена') }}</span>
                        {% if object.gnum %}
                            <span class="modal__info-title-h1">{{ object.gnum }}</span>
                        {% endif %}
                        {% if object.organization.name %}
                            <span class="modal__info-title-h2">{{ object.organization.name }}</span>
                        {% endif %}
                    </div>
                </div>

            </div>

            <div class="modal__header-right tabs-outside-objects-control">
                <div class="modal__header-group-btns tab-outside tab-outside--active" data-outside-id="1">
                    <button class="modal__header-btn modal__header-btn-edit btn">Редактировать</button>
                    <button class="modal__header-btn modal__header-btn-save btn-good" style="display: none;">Сохранить</button>
                </div>
                <div class="modal__header-group-btns tab-outside" data-outside-id="2">
                    <button onclick="load_fmodal_new_type_equipment({{ object.id }})" class="modal__header-btn btn">Добавить оборудование</button>
                </div>
                <div class="modal__header-group-btns tab-outside" data-outside-id="4">
                    <button class="modal__header-btn btn">Загрузить</button>
                </div>
                <div class="modal__header-group-btns tab-outside" data-outside-id="5">
                    <button class="modal__header-btn btn">Печать</button>
                </div>
                <div class="modal__header-group-btns tab-outside" data-outside-id="6">
                    <button class="modal__header-btn btn">Печать</button>
                </div>
                <div class="modal__header-group-btns tab-outside" data-outside-id="7">
                    <button class="modal__header-btn btn">Печать</button>
                </div>
            </div>
        </div>
        <!-- End Шапка модалки -->

        <!-- Start Основное содержимое модалки -->
        <div class="modal__main">

            <div class="tabs" data-outside="objects-control">

                <!-- Start tabs__header -->
                <div class="tabs__header">
                    <div data-id="1" class="tabs__tab tabs__tab--active">
                        Информация
                    </div>
                    <div data-id="2" class="tabs__tab" onclick="load_tab_equipments({{ object.id }})">
                        Оборудование
                    </div>
                    <div data-id="3" class="tabs__tab" style="color: red;">
                        Акты
                    </div>
                    <div data-id="4" class="tabs__tab" onclick="load_tab_objdocs({{ object.id }})">
                        Документы
                    </div>
                    <div data-id="5" class="tabs__tab" style="color: red;">
                        Истории заявок
                    </div>
                    <div data-id="6" class="tabs__tab" onclick="load_tab_logs({{ object.id }})">
                        История действий
                    </div>
                    <div data-id="7" class="tabs__tab" onclick="load_tab_gnlogs({{ object.id }})">
                        История гос№
                    </div>
                </div>
                <!-- End tabs__header -->

                <!-- Start tabs__content -->
                <div class="tabs__content">
                    
                    {# Start Основное содержимое #}
                    <div data-id="1" class="tabs__item tabs__item--active">

                        <div class="modal__data-view modal-object__data-view view" style="display:flex;flex-direction:column;gap:inherit;">
                            <div class="block-info">
                                <div class="block-info__title">Об объекте</div>

                                <div class="block-info__content">
                                    <div class="block-info__item">
                                        <span class="block-info__text-secondary">Статус</span>
                                        <span class="block-info__text-main" style="color: red">Есть заявка</span>
                                    </div>
                                    <div class="block-info__item">
                                        <span class="block-info__text-secondary">Год выпуска</span>
                                        <span class="block-info__text-main">{{ object.year | default('Не определен') }}</span>
                                    </div>
                                    <div class="block-info__item">
                                        <span class="block-info__text-secondary">Клиент</span>
                                        <span class="block-info__text-main">{{ object.organization.name | default('Не определен') }}</span>
                                    </div>
                                    <div class="block-info__item">
                                        <span class="block-info__text-secondary">Цвет</span>
                                        <span class="block-info__text-main">{{ object.color | default('Не определен') }}</span>
                                    </div>
                                    <div class="block-info__item">
                                        <span class="block-info__text-secondary">Марка/Модель</span>
                                        <span class="block-info__text-main">{{ object.brand | default('Не определена') }}/{{ object.model | default('Не определена') }}</span>
                                    </div>
                                    <div class="block-info__item">
                                        <span class="block-info__text-secondary">VIN</span>
                                        <span class="block-info__text-main">{{ object.vin | default('Не определен') }}</span>
                                    </div>
                                    <div class="block-info__item">
                                        <span class="block-info__text-secondary">Гос№</span>
                                        <span class="block-info__text-main">{{ object.gnum | default('Не определен') }}</span>
                                    </div>
                                    <div class="block-info__item">
                                        <span class="block-info__text-secondary">Документ о регистрации</span>
                                        <span class="block-info__text-main">{{ object.reg_doc_num | default('Не определен') }}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="block-info">
                                <div class="block-info__title">Добавление</div>
                            
                                <div class="block-info__content">
                                    <div class="block-info__item">
                                        <span class="block-info__text-secondary">Добавил</span>
                                        <span class="block-info__text-main">{{ object.user_added.name | default('Не определено')}}</span>
                                    </div>
                                    <div class="block-info__item">
                                        <span class="block-info__text-secondary">Дата добавления</span>
                                        <span class="block-info__text-main">{{ object.created_at | date('Y-m-d') }}</span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="modal__data-edit modal-object__data-edit edit" style="display:none;flex-direction:column;gap:inherit;">
                            <div class="block-info">
                                <div class="block-info__title">Об объекте</div>
                            
                                    <div class="block-info__content">

                                        <div class="block-info__item">
                                            @@include('../components/input-text.html', {"name": "", "value": "Есть заявка", "stText": "Статус"})
                                        </div>

                                        <div class="block-info__item">
                                            {% include 'components/input-date.twig' with {
                                                settings: {
                                                    db_field_name: 'year',
                                                    val: object.year,
                                                    pls: 'Год выпуска',
                                                    air: ['air-only-years']
                                                }
                                            } %}
                                        </div>

                                        <div class="block-info__item">
                                            {% include 'components/select.twig' with twig_components_data.clients %}
                                        </div>

                                        <div class="block-info__item">
                                            {% include 'components/input-text.twig' with {
                                                settings: {
                                                    db_field_name: 'color',
                                                    val: object.color,
                                                    pls: 'Цвет'
                                                }
                                            } %}
                                        </div>

                                        <div class="block-info__item">
                                            {% include 'components/input-text.twig' with {
                                                settings: {
                                                    db_field_name: 'brand',
                                                    val: object.brand,
                                                    pls: 'Марка'
                                                }
                                            } %}
                                        </div>

                                        <div class="block-info__item">
                                            {% include 'components/input-text.twig' with {
                                                settings: {
                                                    db_field_name: 'vin',
                                                    val: object.vin,
                                                    pls: 'VIN'
                                                }
                                            } %}
                                        </div>

                                        <div class="block-info__item">
                                            {% include 'components/input-text.twig' with {
                                                settings: {
                                                    db_field_name: 'gnum',
                                                    val: object.gnum,
                                                    pls: 'Гос.номер'
                                                }
                                            } %}
                                        </div>

                                        <div class="block-info__item">
                                            {% include 'components/input-text.twig' with {
                                                settings: {
                                                    db_field_name: 'reg_doc_num',
                                                    val: object.reg_doc_num,
                                                    pls: 'Документ о регистрации'
                                                }
                                            } %}
                                        </div>

                                    </div>
                            </div>

                            <div class="block-info">
                                <div class="block-info__title">Добавление</div>
                            
                                <div class="block-info__content">

                                    <div class="block-info__item">
                                        <span class="block-info__text-secondary">Добавил</span>
                                        <span class="block-info__text-main">{{ object.user_added.name | default('Не определено')}}</span>
                                    </div>
                                    <div class="block-info__item">
                                        <span class="block-info__text-secondary">Дата добавления</span>
                                        <span class="block-info__text-main">{{ object.created_at | date('Y-m-d') }}</span>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                    {# End Основное содержимое #}

                    {# Start оборудование #}
                    <div data-id="2" class="tabs__item" id="modal-object-tab-equipment-content"></div>
                    {# End оборудование #}

                    <!-- Start tab content 3 -->
                    <div data-id="3" class="tabs__item">

                        <div class="tabs__tableContainer">
                            <div class="tabs__table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="text-start">№ заявки</th>
                                            <th class="text-start">Тип заявки</th>
                                            <th class="text-start">Тип устройства</th>
                                            <th class="text-start">Исполнители</th>
                                            <th>Фотографии</th>
                                            <th>Заказ-наряд</th>
                                            <th>Просмотр акта</th>
                                        </tr>
                                    </thead>
        
                                    <tbody>
                                        <tr data-fancybox data-src="#fmodal-ts-object-view" class="pointer">
                                            <td class="text-start">12654</td>
                                            <td class="text-start">Монтаж</td>
                                            <td class="text-start">Тахограф</td>
                                            <td class="text-start"><span>Иванов И. И.</span><br><span>Сидоров С. С.</span><br><span>Сергеев М. М.</span></td>
                                            <td class="td-photos">
                                                <div data-fancybox data-src="/assets/img/default/photo-1.jpg" style="background-image: url('/assets/img/default/photo-1.jpg');"></div>
                                                <div data-fancybox data-src="/assets/img/default/photo-1.jpg" style="background-image: url('/assets/img/default/photo-1.jpg');"></div>
                                                <div data-fancybox data-src="/assets/img/default/photo-1.jpg" style="background-image: url('/assets/img/default/photo-1.jpg');"></div>
                                                <div data-fancybox data-src="/assets/img/default/photo-1.jpg" style="background-image: url('/assets/img/default/photo-1.jpg');"></div>
                                                <div data-fancybox data-src="/assets/img/default/photo-1.jpg" style="background-image: url('/assets/img/default/photo-1.jpg');"></div>
                                            </td>
                                            <td class="text-center"><div class="d-flex justify-content-center"><button class="btn">Открыть</button></div></td>
                                            <td class="text-center"><div class="d-flex justify-content-center"><button class="btn">Открыть</button></div></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    <!-- End tab content 3 -->

                    <!-- Start tab content 4 -->
                    <div data-id="4" class="tabs__item" id="modal-object-tab-docs-content"></div>
                    <!-- End tab content 4 -->

                    <!-- Start tab content 5 -->
                    <div data-id="5" class="tabs__item">

                        <div class="tabs__tableContainer">
                            <div class="tabs__table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="text-start">Заявка</th>
                                            <th class="text-start">Создана</th>
                                            <th class="text-start">Статус</th>
                                            <th class="text-start">Инициатор</th>
                                            <th class="text-start">Комментарий</th>
                                        </tr>
                                    </thead>
        
                                    <tbody>
                                        <tr data-fancybox data-src="#fmodal-ts-object-view" class="pointer">
                                            <td class="text-start">24730</td>
                                            <td class="text-start">10.10.2023</td>
                                            <td class="text-start">Выполнена</td>
                                            <td class="text-start">Лебедев Ю. И.</td>
                                            <td class="text-start" width="30%" style="padding-right: 1.5rem;">Коментарий абсолютно любой длинный и даже в две строчки</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    <!-- End tab content 5 -->

                    <!-- Start tab content 6 -->
                    <div data-id="6" class="tabs__item" id="modal-object-tab-logs-content"></div>
                    <!-- End tab content 6 -->

                    <!-- Start tab content 7 -->
                    <div data-id="7" class="tabs__item" id="modal-object-tab-gnlogs-content"></div>
                    <!-- End tab content 7 -->

                </div>
                <!-- End tabs__content -->
            </div>

        </div>
        <!-- End Основное содержимое модалки -->

    </div>
</div>


{# Start регион подгрузки fmodal нового типа оборудования #}
<div id="fmodal-new-type-equipment-wrapper"></div>
{# End регион подгрузки fmodal нового типа оборудования #}




{#
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
#}

{#
    -----------   Ajax скрипты для работы с модалкой    -----------
#}


{# Start добавление нового типа оборудования #}
<script>
function load_fmodal_new_type_equipment(object_id) {

    $region_wrapper = $('#fmodal-new-type-equipment-wrapper');

    let url = API_V1_URLS.objects.render + 'fmodal-new-type-equipment'; // API_V1_URLS - Смотрим в main.js

    $.ajax({
        url: url,
        method: "POST",
        data: {
            object_id: object_id, // Передаем id объекта
        },
        success: function (response) {
            if (response.status == "success") {
                $region_wrapper.html(response.render_response_html);

                $.fancybox.open({
                    src: '#fmodal-new-type-equipment',
                    type: 'inline'
                });

                dd(response, `Render fmodal-new-type-equipment.twig ${url}`);
            }

            if (response.status == "error") {
                console.log(response);
            }
        }
    });
}
</script>
{# End добавление нового типа оборудования #}


{# Start подгрузка таба "Оборудование" #}
<script>
function load_tab_equipments (object_id, is_reload = false) {
    $wrapper = $('#modal-object-tab-equipment-content');

    if (!$wrapper.hasClass('loaded') && !is_reload) { // Если вкладка не загружена
        go_ajax();
    }

    if (is_reload) {
        go_ajax();
    }

    function go_ajax() {
        let url = API_V1_URLS.objects.render + 'tab-content-equipments'; // API_V1_URLS - Смотрим в main.js

        let data = {object_id: object_id};

        $.ajax({
            url: url,
            method: "POST",
            data: data,
            success: function (response) {
                $wrapper.removeClass("loading");

                if (response.status == "success") {
                    $wrapper.removeClass('loading');
                    $wrapper.html(response.render_response_html);
                    $wrapper.addClass('loaded');
                    resizeTableModal(); // Ресайзим под размеры. Костыль

                    dd(response, `Render tab-content-equipments.twig ${url}`);
                }
            },
            beforeSend: function(s) {
                $wrapper.addClass('loading');
            }
        });
    }
}
</script>
{# End подгрузка таба "Оборудование" #}

<script>
function load_tab_objdocs(object_id, is_reload = false) {
    $wrapper = $('#modal-object-tab-docs-content');

    if (!$wrapper.hasClass('loaded') && !is_reload) { // Если вкладка не загружена
        go_ajax();
    }

    if (is_reload) {
        go_ajax();
    }

    function go_ajax() {
        let url = API_V1_URLS.objects.render + 'tab-content-docs'; // API_V1_URLS - Смотрим в main.js

        let data = {object_id: object_id};

        $.ajax({
            url: url,
            method: "POST",
            data: data,
            success: function (response) {
                $wrapper.removeClass("loading");

                if (response.status == "success") {
                    $wrapper.removeClass('loading');
                    $wrapper.html(response.render_response_html);
                    $wrapper.addClass('loaded');
                    resizeTableModal(); // Ресайзим под размеры. Костыль

                    dd(response, `Render tab-content-docs.twig ${url}`);
                }
            },
            beforeSend: function(s) {
                $wrapper.addClass('loading');
            }
        });
    }
}
</script>


<script>
function load_tab_logs(object_id, is_reload = false) {
    $wrapper = $('#modal-object-tab-logs-content');

    if (!$wrapper.hasClass('loaded') && !is_reload) { // Если вкладка не загружена
        go_ajax();
    }

    if (is_reload) {
        go_ajax();
    }

    function go_ajax() {
        let url = API_V1_URLS.objects.render + 'tab-content-logs'; // API_V1_URLS - Смотрим в main.js

        let data = {object_id: object_id};

        $.ajax({
            url: url,
            method: "POST",
            data: data,
            success: function (response) {
                $wrapper.removeClass("loading");

                if (response.status == "success") {
                    $wrapper.removeClass('loading');
                    $wrapper.html(response.render_response_html);
                    $wrapper.addClass('loaded');
                    resizeTableModal(); // Ресайзим под размеры. Костыль

                    dd(response, `Render tab-content-logs.twig ${url}`);
                }
            },
            beforeSend: function(s) {
                $wrapper.addClass('loading');
            }
        });
    }
}
</script>


<script>
function load_tab_gnlogs(object_id, is_reload = false) {
    $wrapper = $('#modal-object-tab-gnlogs-content');

    if (!$wrapper.hasClass('loaded') && !is_reload) { // Если вкладка не загружена
        go_ajax();
    }

    if (is_reload) {
        go_ajax();
    }

    function go_ajax() {
        let url = API_V1_URLS.objects.render + 'tab-content-gnum'; // API_V1_URLS - Смотрим в main.js

        let data = {object_id: object_id};

        $.ajax({
            url: url,
            method: "POST",
            data: data,
            success: function (response) {
                $wrapper.removeClass("loading");

                if (response.status == "success") {
                    $wrapper.removeClass('loading');
                    $wrapper.html(response.render_response_html);
                    $wrapper.addClass('loaded');
                    resizeTableModal(); // Ресайзим под размеры. Костыль

                    dd(response, `Render tab-content-gnum.twig ${url}`);
                }
            },
            beforeSend: function(s) {
                $wrapper.addClass('loading');
            }
        });
    }
}
</script>


{# Start функционал сохранения данных #}
<script>
    save_big_modal('modal-object', async () => {
        let object_id = $('#modal-object').data('object-id');
        
        let url = API_V1_URLS.objects.update;

        let formData = cpns_get_formdata_by_wrapper('#modal-object .tabs__item[data-id="1"] .modal-object__data-edit');

        formData.append('id', object_id);

        return await xpost_fd(url, formData).then(response => {
            dd(response, response.message, 'success');
            push(response.message, 'success');

            load_modal_object(object_id, true); // Обновляем
            xrender_main_table_objects(1);

            return new Promise((resolve, reject) => {
                resolve(response);
            });

        }).catch(response => {
            dd(response, response.message, 'error');
            push(response.message, 'error');

            return new Promise((resolve, reject) => {
                reject(response);
            });
        });
    }, 1);
</script>
{# End функционал сохранения данных #}