{#
    request_params - Параметры запроса
    equipments - Оборудование
#}

{% for equipment in equipments %}
    <div class="tabs__tableContainer">
        <div class="tabs__tableTitle">{{ equipment.name }}</div>

        <div class="tabs__table">
            <table>
                <thead>
                    <tr>
                        {% for field in equipment.field_properties %}
                            <th class="text-start">{{ field.name }}</th>
                        {% endfor %}
                    </tr>
                </thead>

                <tbody>
                    {% for field_data in equipment.field_properties_data %}

                        <tr class="pointer">

                            {% for tt in field_data %}
                                {% for field in equipment.field_properties %}

                                    {% if field.db_field_name == tt.db_field_name %}
                                        <td class="text-start">{{ tt.val }}</td>
                                    {% endif %}
                                    
                                {% endfor %}
                            {% endfor %}
                        </tr>

                    {% endfor %}
                </tbody>

                <tfoot>
                    <tr>
                        <th class="th-btn-add" colspan="7">
                            <svg onclick="load_fmodal_new_device({{ equipment.equipment_id }}, {{ request_params.object_id }})">
                                <use xlink:href="#svg-add"></use>
                            </svg>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endfor %}

<script>
    function load_fmodal_new_device(equipment_id, object_id) {
        $region_wrapper = $('#fmodal-new-device-wrapper');

        let url = API_V1_URLS.objects.render + 'fmodal-new-device'; // API_V1_URLS - Смотрим в main.js

        $.ajax({
            url: url,
            method: "POST",
            data: {
                equipment_id: equipment_id, // Передаем id объекта
                object_id: object_id
            },
            success: function (response) {
                if (response.status == "success") {
                    $region_wrapper.html(response.render_response_html);

                    $.fancybox.open({
                        src: '#fmodal-new-device',
                        type: 'inline'
                    });

                    dd(response, `Render fmodal-new-device.twig ${url}`);
                }

                if (response.status == "error") {
                    console.log(response);
                }
            }
        });
    }
</script>