{#
    request_params - параметры запроса
    docs - документы
#}

{% if docs | length > 0 %}
<div class="tabs__tableContainer">
    <div class="tabs__table">
        <table>
            <thead>
                <tr>
                    <th class="text-start">Имя</th>
                    <th class="text-start">Прикрепил</th>
                    <th class="text-start">Комментарий</th>
                </tr>
            </thead>

            <tbody>
                {% for doc in docs %}
                    <tr class="pointer">
                        <td class="text-start">
                            <a target="_blank" href="{{ app().paths.public.object_docs ~ '/' ~ doc.object_id ~ '/' ~ doc.doc_file_name }}">
                                {{ doc.name ~ '.' ~ pathinfo_ext(doc.doc_file_name) | default(doc.doc_file_name) }}
                            </a>
                        </td>
                        <td class="text-start">
                            {% if doc.userAdded.name %}
                                {{ short_name(doc.userAdded.name, doc.userAdded.surname, doc.userAdded.patronymic) }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td class="text-start">{{ doc.comment }}</td>
                        <td class="td-btn-default text-end">
                            <svg onclick="delete_objdoc_by_id({{ doc.id }}, {{ doc.object_id }})"><use xlink:href="#svg-del"></use></svg>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
    function delete_objdoc_by_id(objdoc_id, object_id) {
        let url = API_V1_ROUTS.ObjectsDocs.delete;
        let formData = new FormData();
        formData.append('id', objdoc_id);

        xpost_fd(url, formData).then(response => {
            load_tab_objdocs(object_id, true);
            push(response.message, 'success');
            dd(response, response.message, 'success');
        }).catch(response => {
            push(response.message, 'error');
            dd(response, response.message ? response.message : 'Не удалось удалить документ объекта', 'error');
        });
    }
</script>
{% else %}
    <div style="display: flex; align-items: center; justify-content: center; font-size: 20px;">Документов нет!</div>
{% endif %}