{#
    Компонент даты

    * Доступные переменные:
    
    settings - массив с настройками
        * title - заголовок (не обязательно)
        * db_field_name - Имя поля (если компонент записывает данные в БД, то db_field_name равно названию поля из базы данных)
        * val - значение инпута в атрибуте value
        * required - обязательный ли инпут
        * input_messages_position - расположение сообщений об ошибках и прочее. Либо bottom (по умолчанию, но можно изменить здесь) либо top

        air массив настройки. Это просто классы https://air-datepicker.com/ru/docs
            air-start-today - начинать выбор даты с текущего дня и запретить предыдущие
            air-time - добавить время
            air-select-now - автоматически вставить текущую дату
            air-top - вставить попап выбора сверху
            air-multi - выбор нескольких дат
            air-only-years - только года
    ------------------------------------
#}

{% if settings.db_field_name == false %}
    <div style="color: red;">Параметр "db_field_name" для компонента input-date не проброшен!</div>
{% else %}
    <div class="component-wrapper">
        {# Start Сообщения об ошибках и пр #}
        {% if settings.input_messages_position == 'top' %}
            <div class="input-messages input-messages--top disable">
                <span class="input-messages__icon"></span>
                <span class="input-messages__text"></span>
            </div>
        {% endif %}
        {# End Сообщения об ошибках и пр #}

        <div class="input-date {{ settings.air | join(', ') }}">
            {% if settings.title %}
                <span class="input-date__name">{{ settings.title }}</span>
            {% endif %}

            <input type="text" value="{{ settings.val }}" name="{{ settings.db_field_name }}" placeholder="{{ settings.pls | default('Выберите дату') }}" />
        </div>

        {# Start Сообщения об ошибках и пр #}
        {% if settings.input_messages_position == 'bottom' or settings.input_messages_position == false %}
            <div class="input-messages input-messages--bottom disable">
                <span class="input-messages__icon"></span>
                <span class="input-messages__text"></span>
            </div>
        {% endif %}
        {# End Сообщения об ошибках и пр #}
    </div>
{% endif %}