{#
    * data - массив со значениями
        * title - Название. Выводится сверху
        * db_field_name - Имя поля
        * pls - Плейсхолдер
        * val - Значение
    * settings
        * required - boolean значения. True или false - обязательное поле или нет
        * input_messages_position - расположение инпута в верху или внизу. Принимает либо top дибо bottom. По умолчанию bottom (но можно изменить на top)
#}

{# Start Формируем классы #}
{% set classes = 'input-text' %}
{# End Формируем классы #}

{# Start Если поле обязательное добавляем класс required #}
{% if settings.required %}
    {% set classes =  classes ~ ' required' %}
{% endif %}
{# End Если поле обязательное добавляем класс required #}


{% if data.db_field_name == false %}
    <div style="color: red;">Параметр "db_field_name" для компонента input-text не проброшен!</div>
{% else %}
<div class="component-wrapper">
    {% if settings.input_messages_position == 'top' %}
        <div class="input-messages input-messages--top disable">
            <span class="input-messages__icon"></span>
            <span class="input-messages__text"></span>
        </div>
    {% endif %}

    <div data-name="{{ data.db_field_name }}" class="{{ classes }}">
        {# Start Если есть название, то выводим его #}
        {% if data.title %}
            <span class="input-text__name">{{ data.title }}</span>
        {% endif %}
        {# End Если есть название, то выводим его #}

        <input type="text" name="{{ data.db_field_name }}" value="{{ data.val }}" placeholder="{% if data.pls %}{{ data.pls }}{% else %}Введите данные{% endif %} {% if settings.required %}*{% endif %}">
    </div>

    {% if settings.input_messages_position == 'bottom' or settings.input_messages_position == false %}
        <div class="input-messages input-messages--bottom disable">
            <span class="input-messages__icon"></span>
            <span class="input-messages__text"></span>
        </div>
    {% endif %}
</div>
{% endif %}