{#
    Компонент выпадающего списка. Настройки

    * Доступные переменные:
    
    * settings - массив с настройками
        * title - заголовок (не обязательно)
        * db_field_name - Имя поля (если компонент записывает данные в БД, то db_field_name равно названию поля из базы данных)
        * val - значение инпута в атрибуте value. Может быть единым значением, может имень вид в виде массива : [1, 2, 3]
        * not_selected_text - пункт меню "Не выбрано". Если не проброшен, то не выводится, если задан, то выводится с заданным текстом
        * required - обязательный ли инпут
        * input_messages_position - расположение сообщений об ошибках и прочее. Либо bottom (по умолчанию, но можно изменить здесь) либо top
        * checkbox - если true, то добавляет класс select__item--checkbox для item элементов и можно выбирать сразу несколько элементов
        * position - позиция выпадающего списка. top - сверху

    
    * items - массив со списком. Пример:
    ------------------------------------
        'items': [
            {
                id: '1',
                text: 'Тинькофф',
                current_text: 'Тинькофф'
            },
            {
                id: '2',
                text: 'Сбербанк',
                current_text: 'Сбербанк'
            }
        ]

        * id - уникальный id. Когда выбираешь пункт, data-id записывается в input поле. В дальнейшем с этого input, если нужно, форма берет значение и отправляет на сервер
        * text - отображаемый текст в селекте ( в выпадающем списке )
        * current_text - отображаемый текст, когда пункт выбран. Текст отображается, селект закрывается.
    ------------------------------------
#}

{# Start Ошибка. Поле не заполнено #}
{% set is_null = false %}
{% if settings.val == false and settings.required == true %}
    {% set is_null = true %}
{% endif %}
{# End Ошибка. Поле не заполнено #}

{% if settings.db_field_name != false %}
<div class="component-wrapper">
    {% if settings.input_messages_position == 'top' %}
        <div class="input-messages input-messages--top {% if is_null == false %}disable{% endif %} {% if is_null %}error{% endif %}">
            <span class="input-messages__icon"></span>
            <span class="input-messages__text">{% if is_null %}Поле не заполнено{% endif %}</span>
        </div>
    {% endif %}

    <div class="select {% if settings.required %}required{% endif %} {% if is_null %}error{% endif %} {% if settings.position == 'top' %}select--top{% endif %}"> {# Могут быть еще классы success и error #}
        {% if settings.title %}
            <span class="select__name">{{ settings.title }}</span>
        {% endif %}

        <input class="select__input" name="{{ settings.db_field_name }}" type="hidden" value="{% if settings.val is iterable %}{{ settings.val | json_encode() }}{% else %}{{ settings.val }}{% endif %}">

        <div class="select__current {% if settings.val == false %}disable{% endif %}">
            <span class="select__current-text" {% if settings.not_selected_text %}data-default-text="{{ settings.not_selected_text }}"{% endif %}>
                
                {# Start Если есть активный элемент или элементы #}
                {% if settings.val %}
                    {% if settings.val is iterable %} {# Если это массив #}
                        
                        {% set current_text = '' %} {# Текущий текст #}
                        {% for item in items %} {# Проходимя циклом #}
                            {% if item.id in settings.val %} {# Вытаскиваем только активные элементы #}
                                {% if item.current_text == false %} {# Если нет текста, то выведем обычный #}
                                    {% set current = item.text %}
                                {% else %}
                                    {% set current = item.current_text %}
                                {% endif %}

                                {% set current = current ~ ', ' %} {# Добавляем запятую в конце #}

                                {% set current_text = current_text ~ current %} {# Добавляем форматированный текст в основную строку #}
                            {% endif %}
                        {% endfor %}
                        {{ current_text | trim(', ') }} {# Выводим текущий текст #}

                    {% else %} {# Если не массив, а просто значение, то просто его выводим #}
                        {% for item in items %}
                            {% if item.id == settings.val %}
                                {{ item.current_text | default(item.text) }}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% else %} {# Если значение в input вообще не установлено #}
                    {{ settings.not_selected_text }}
                {% endif %}
                {# End Если есть активный элемент или элементы #}

            </span>
        </div>

        <div class="select__list">
            {# Start Если можно не выбирать ничего #}
            {% if settings.not_selected_text %}
                <div class="select__item select__item--default {% if settings.val == false %}select__item--active{% endif %}">{{ settings.not_selected_text }}</div>
            {% endif %}
            {# End Если можно не выбирать ничего #}

            {# Start Выводим список #}
            {% for key, item in items %}
                {% if settings.checkbox %}
                    <div data-id="{{ item.id }}" data-text="{{ item.current_text | default(item.text) }}" class="select__item select__item--checkbox {% if item.id in settings.val %}select__item--active{% endif %}">
                        <span class="select__item-field"></span>
                        <span class="select__item-label">{{ item.text }}</span>
                    </div>
                {% else %}
                    <div data-id="{{ item.id }}" data-text="{{ item.current_text | default(item.text) }}" class="select__item {% if item.id == settings.val %}select__item--active{% endif %}">{{ item.text }}</div>
                {% endif %}
            {% endfor %}
            {# End Выводим список #}
        </div>
    </div>

    {% if settings.input_messages_position == false or settings.input_messages_position == 'bottom' %}
        <div class="input-messages input-messages--bottom {% if is_null == false %}disable{% endif %} {% if is_null %}error{% endif %}">
            <span class="input-messages__icon"></span>
            <span class="input-messages__text">{% if is_null %}Поле не заполнено{% endif %}</span>
        </div>
    {% endif %}
</div>
{% else %}
<div style="color: red;">Параметр "db_field_name" для компонента .select не проброшен!</div>
{% endif %}


{#
    input-messages - сообщения об ошибках, успешном заполнении и тд.
#}