{#
    request_params - проброшенные параметры в POST запросе
    table_rows - элементы таблицы
    table_rows.{client_index}.objects - объекты определенного клиента
    pagination - массив с данными о пагинации
#}

<div class="content-table content-table--control">
    <div class="content-table__container">

        {% if table_rows | length > 0 %}
            <table>
                <thead>
                    <tr>
                        <th class="text-start" style="width: 6%;">id</th>
                        <th class="text-start">Статус</th>
                        <th class="text-start">Наименование/ИНН</th>
                        <th>Кол-во объектов</th>
                        <th>Заявки</th>
                        <th>Менеджер</th>
                    </tr>
                </thead>

                <tbody>
                    {% for row in table_rows %}
                        <tr data-modal-client data-client-id="{{ row.id }}" class="pointer" class="pointer">
                            <td class="text-start">{{ row.id }}</td>
                            <td style="color: red" class="text-start">натянуть</td>
                            <td class="text-start">{{ row.name }}<br><span class="text-secondary">ИНН: {{ row.inn }}</span></td>
                            <td>{{ row.objects | length }}</td>
                            <td style="color: red">натянуть</td>
                            <td style="color: red">натянуть</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %} {# Если клиентов нет #}
            <div style="display: flex; gap: 10px; align-items: center; flex-direction: column; justify-content: center; height: 100%;font-size: 2rem;">
                <span style="font-size: 3rem;">🙁</span>
                <span>Клиентов нет!</span>
                <button data-modal-client-add class="btn">Добавить ногого</button>
            </div>
        {% endif %}

    </div>
</div>

{# Start Пагинация #}
<div class="main-table-pagination" data-current-page="{{ pagination.current_page }}">
    {% if pagination.current_page > 1 %}
        <button class="btn" data-page="{{ pagination.prev_page }}">Назад</button>
    {% endif %}

    {% if pagination.has_next_page %}
        <button class="btn" data-page="{{ pagination.next_page }}">Дальше</button>
    {% endif %}
</div>
{# End Пагинация #}