{#
    request_params - данные из запроса
    client - выгрузка из базы данных. Конкретный клиент
    twig_components_data - данные для компонентов
        managers - данные для селекта менеджеров
        status - данные для селекта статусов
    client_statuses - массив со статусами клиента
    modal_settings - настройки модалки
        is_open - открытая
    director - массив с данными о директоре
#}

<div id="modal-client" class="modal modal-client {% if modal_settings.is_open %}open{% endif %}" data-client-id="{{ client.id }}">
    <svg data-modal-close class="modal__close"><use xlink:href="#svg-close"></use></svg>

    <div class="modal__container">

        {# Start Шапка модалки #}
        <div class="modal__header">
            <div class="modal__header-left">
                
                <div class="modal__info">
                    <div class="modal__info-title">
                        <span class="modal__info-title-h1">{{ client.name }}</span>
                        <span class="modal__info-title-h2">ИНН: {{ client.inn }}</span>
                    </div>
                </div>

            </div>

            {# Start Кнопки управления #}
            <div class="modal__header-right tabs-outside-control">
                <div class="modal__header-group-btns tab-outside tab-outside--active" data-outside-id="1">
                    <button class="modal__header-btn modal__header-btn-edit btn">Редактировать</button>
                    <button class="modal__header-btn modal__header-btn-save btn-good" style="display: none;">Сохранить</button>

                    {% if client.status != client_statuses.STATUS_ARCHIVE %}
                        <button class="modal__header-btn btn-bad" onclick="chenge_client_status({{ client.id }}, {{ client_statuses.STATUS_ARCHIVE }})">В архив</button>
                    {% endif %}
                </div>
                <div class="modal__header-group-btns tab-outside" data-outside-id="2">
                    <button onclick="load_fmodal_contacts_persons({{ client.id }})" class="modal__header-btn btn">Добавить</button>
                </div>
                <div class="modal__header-group-btns tab-outside" data-outside-id="4">
                    <button data-fancybox data-src="#fmodal-new-contract" class="modal__header-btn btn">Добавить договор</button>
                </div>
                <div class="modal__header-group-btns tab-outside" data-outside-id="5">
                    <button data-fancybox data-src="#fmodal-new-bill" class="modal__header-btn btn">Добавить счет</button>
                </div>
                <div class="modal__header-group-btns tab-outside" data-outside-id="6">
                    <button data-fancybox data-src="#fmodal-new-document" class="modal__header-btn btn">Добавить документ</button>
                </div>
                <div class="modal__header-group-btns tab-outside" data-outside-id="7">
                    <button data-fancybox data-src="#fmodal-request-view" class="modal__header-btn btn">Добавить заявку</button>
                </div>
            </div>
            {# End Кнопки управления #}
        </div>
        {# End Шапка модалки #}

        {# Start Основное содержимое модалки #}
        <div class="modal__main">

            <div class="tabs" data-outside="control">

                {# Start tabs__header #}
                <div class="tabs__header">
                    <div data-id="1" class="tabs__tab tabs__tab--active">
                        Информация
                    </div>
                    <div data-id="2" onclick="load_tab_contacts_persons({{ client.id }})" id="modal-client-tab-contacts-persons" class="tabs__tab">
                        Контактные лица
                    </div>
                    <div data-id="3" onclick="load_tab_objects({{ client.id }})" class="tabs__tab">
                        Объекты
                    </div>
                    <div data-id="4" class="tabs__tab">
                        Договоры
                    </div>
                    <div data-id="5" class="tabs__tab">
                        Счета
                    </div>
                    <div data-id="6" class="tabs__tab">
                        Документы
                    </div>
                    <div data-id="7" class="tabs__tab">
                        Заявки
                    </div>
                </div>
                {# End tabs__header #}

                {# Start tabs__header #}
                <div class="tabs__content">
                    
                    {# Start tab content 1 #}
                    <div data-id="1" class="tabs__item tabs__item--active">
                        
                        <div class="modal__data-view modal-client__data-view view">
                            <div class="block-info">
                                <div class="block-info__title">О компании</div>

                                <div class="block-info__content">
                                    <div class="block-info__item">
                                        <span class="block-info__text-secondary">Статус</span>
                                        <span class="block-info__text-main">{{ client.status_name | default('-') }}</span>
                                    </div>

                                    <div class="block-info__item">
                                        <span class="block-info__text-secondary">Наименование</span>
                                        <span class="block-info__text-main">{{ client.name | default('-') }}</span>
                                    </div>

                                    <div class="block-info__item">
                                        <span class="block-info__text-secondary">ИНН</span>
                                        <span class="block-info__text-main">{{ client.inn | default('-') }}</span>
                                    </div>

                                    <div class="block-info__item">
                                        <span class="block-info__text-secondary">Почта</span>

                                        {% if client.email %}
                                            <a class="block-info__text-main" href="mailto:{{ client.email }}">{{ client.email }}</a>
                                        {% else %}
                                            <span class="block-info__text-main">-</span>
                                        {% endif %}
                                    </div>

                                    <div class="block-info__item">
                                        <span class="block-info__text-secondary">Фактический адрес</span>
                                        <span class="block-info__text-main">{{ client.actual_address | default('-') }}</span>
                                    </div>
                                    <div class="block-info__item">
                                        <span class="block-info__text-secondary">Юридический адрес</span>
                                        <span class="block-info__text-main">{{ client.legal_address | default('-') }}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="block-info">
                                <div class="block-info__title">Банковские реквизиты</div>
                            
                                <div class="block-info__content">
                                    <div class="block-info__item">
                                        <span class="block-info__text-secondary">Наименование банка</span>
                                        <span class="block-info__text-main">{{ client.bank_name | default('-') }}</span>
                                    </div>
                                    <div class="block-info__item">
                                        <span class="block-info__text-secondary">БИК</span>
                                        <span class="block-info__text-main">{{ client.bic | default('-') }}</span>
                                    </div>
                                    <div class="block-info__item">
                                        <span class="block-info__text-secondary">Рассчётный счёт</span>
                                        <span class="block-info__text-main">{{ client.checking_bill_num | default('-') }}</span>
                                    </div>
                                    <div class="block-info__item">
                                        <span class="block-info__text-secondary">Корреспондентский счёт</span>
                                        <span class="block-info__text-main">{{ client.correspondent_bill_num | default('-') }}</span>
                                    </div>
                                    <div class="block-info__item">
                                        <span class="block-info__text-secondary">ОКПО</span>
                                        <span class="block-info__text-main">{{ client.okpo | default('-') }}</span>
                                    </div>
                                    <div class="block-info__item">
                                        <span class="block-info__text-secondary">ОКАТО</span>
                                        <span class="block-info__text-main">{{ client.okato | default('-') }}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="block-info">
                                <div class="block-info__title">Руководитель</div>

                                    {% if director %}
                                        <div class="block-info__content">
                                            <div class="block-info__item">
                                                <span class="block-info__text-secondary">ФИО руководителя</span>

                                                {% if director.name %}
                                                    {% set director_name = director.surname ~ ' ' ~ director.name ~ ' ' ~ director.patronymic %}
                                                    <span class="block-info__text-main">{{ director_name | trim }}</span>
                                                {% endif %}
                                            </div>

                                            <div class="block-info__item">
                                                <span class="block-info__text-secondary">Телефон руководителя</span>

                                                {% if director.tel %}
                                                    <a class="block-info__text-main" href="tel:{{ director.tel }}">{{ director.tel }}</a>
                                                {% else %}
                                                    <span class="block-info__text-main">Телефон не задан</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% else %}
                                        <p style="color: var(--clr-5);">Руководитель не задан.<br>При необходимости его можно задать во вкладке "Контактные лица".</p>
                                    {% endif %}
                            </div>

                            <div class="block-info">
                                <div class="block-info__title">Ответственный менеджер</div>
                            
                                    <div class="block-info__content">
                                        <div class="block-info__item">
                                            <span class="block-info__text-secondary">Менеджер</span>
                                            <span class="block-info__text-main">{{ client.manager.name | default('Менеджер не задан') }}</span>
                                        </div>
                                    </div>
                            </div>
                        </div>

                        <div class="modal__data-edit modal-client__data-edit edit" style="display: none;">
                            <div class="block-info">
                                <div class="block-info__title">О компании</div>
                            
                                    <div class="block-info__content">
                                        <div class="block-info__item">
                                            {% include 'components/select.twig' with twig_components_data.status %}
                                        </div>

                                        <div class="block-info__item">
                                            {% include 'components/input-text.twig' with {
                                                settings: {
                                                    db_field_name: 'name',
                                                    val: client.name,
                                                    pls: 'Названию компании'
                                                }
                                            } %}
                                        </div>

                                        <div class="block-info__item">
                                            {% include 'components/input-text.twig' with {
                                                settings: {
                                                    db_field_name: 'inn',
                                                    val: client.inn,
                                                    pls: 'ИНН'
                                                }
                                            } %}
                                        </div>

                                        <div class="block-info__item">
                                            {% include 'components/input-text.twig' with {
                                                settings: {
                                                    db_field_name: 'email',
                                                    val: client.email,
                                                    pls: 'Email'
                                                }
                                            } %}
                                        </div>

                                        <div class="block-info__item">
                                            {% include 'components/input-text.twig' with {
                                                settings: {
                                                    db_field_name: 'actual_address',
                                                    val: client.actual_address,
                                                    pls: 'Фактический адрес'
                                                }
                                            } %}
                                        </div>

                                        <div class="block-info__item">
                                            {% include 'components/input-text.twig' with {
                                                settings: {
                                                    db_field_name: 'legal_address',
                                                    val: client.legal_address,
                                                    pls: 'Юридический адрес'
                                                }
                                            } %}
                                        </div>

                                    </div>
                            </div>

                            <div class="block-info">
                                <div class="block-info__title">Банковские реквизиты</div>
                            
                                <div class="block-info__content">

                                    <div class="block-info__item">
                                        {% include 'components/input-text.twig' with {
                                            settings: {
                                                db_field_name: 'bank_name',
                                                val: client.bank_name,
                                                pls: 'Название банка'
                                            }
                                        } %}
                                    </div>

                                    <div class="block-info__item">
                                        {% include 'components/input-text.twig' with {
                                            settings: {
                                                db_field_name: 'bic',
                                                val: client.bic,
                                                pls: 'БИК банка'
                                            }
                                        } %}
                                    </div>

                                    <div class="block-info__item">
                                        {% include 'components/input-text.twig' with {
                                            settings: {
                                                db_field_name: 'checking_bill_num',
                                                val: client.checking_bill_num,
                                                pls: 'Рассчётный счёт'
                                            }
                                        } %}
                                    </div>

                                    <div class="block-info__item">
                                        {% include 'components/input-text.twig' with {
                                            settings: {
                                                db_field_name: 'correspondent_bill_num',
                                                val: client.correspondent_bill_num,
                                                pls: 'Корреспондентский счёт'
                                            }
                                        } %}
                                    </div>

                                    <div class="block-info__item">
                                        {% include 'components/input-text.twig' with {
                                            settings: {
                                                db_field_name: 'okpo',
                                                val: client.okpo,
                                                pls: 'ОКПО'
                                            }
                                        } %}
                                    </div>

                                    <div class="block-info__item">
                                        {% include 'components/input-text.twig' with {
                                            settings: {
                                                db_field_name: 'okato',
                                                val: client.okato,
                                                pls: 'ОКАТО'
                                            }
                                        } %}
                                    </div>

                                </div>
                            </div>

                            <div class="block-info">
                                <div class="block-info__title">Руководитель</div>

                                    {% if director %}
                                        <div class="block-info__content">
                                            <div class="block-info__item">
                                                <span class="block-info__text-secondary">ФИО руководителя</span>

                                                {% if director.name %}
                                                    {% set director_name = director.surname ~ ' ' ~ director.name ~ ' ' ~ director.patronymic %}
                                                    <span class="block-info__text-main">{{ director_name | trim }}</span>
                                                {% endif %}
                                            </div>

                                            <div class="block-info__item">
                                                <span class="block-info__text-secondary">Телефон руководителя</span>

                                                {% if director.tel %}
                                                    <a class="block-info__text-main" href="tel:{{ director.tel }}">{{ director.tel }}</a>
                                                {% else %}
                                                    <span class="block-info__text-main">Телефон не задан</span>
                                                {% endif %}
                                            </div>
                                        </div>

                                        <p style="color: var(--clr-5);margin-bottom: -15px; margin-top: -15px;">Для редактирования руководителя компании, перейдите во вкладку "Контактные лица"</p>
                                    {% else %}
                                        <p style="color: var(--clr-5);">Руководитель не задан.<br>При необходимости его можно задать во вкладке "Контактные лица".</p>
                                    {% endif %}
                            </div>

                            <div class="block-info">
                                <div class="block-info__title">Ответственный менеджер</div>
                            
                                <div class="block-info__content">
                                    <div class="block-info__item">
                                        {% include 'components/select.twig' with twig_components_data.managers %}
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                    {# End tab content 1 #}

                    {# Start tab content | ajax подгрузка 2 #}
                    <div data-id="2" id="modal-client-tab-contacts-persons-content" class="tabs__item"></div>
                    {# End tab content 2 | ajax подгрузка #}

                    <!-- Start tab content 3 -->
                    <div data-id="3" id="modal-client-tab-objects-content" class="tabs__item"></div>
                    <!-- End tab content 3 -->

                    <!-- Start tab content 4 -->
                    <div data-id="4" class="tabs__item">

                        <div class="tabs__tableContainer">
                            <div class="tabs__table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="text-start">П/п №</th>
                                            <th class="text-start">Тип договора/<br>Статус</th>
                                            <th>№ договора</th>
                                            <th>Дата заключения</th>
                                            <th>Срок действия</th>
                                            <th>Ответственный</th>
                                        </tr>
                                    </thead>
        
                                    <tbody>
                                        <tr class="pointer">
                                            <td class="text-start">1</td>
                                            <td class="text-start"><span>Договор аренды</span><br><span>Действующий</span></td>
                                            <td>654321</td>
                                            <td>31.12.2022</td>
                                            <td>31.12.2022</td>
                                            <td>Петров С. И.</td>
                                            <td class="td-btn-default">
                                                <svg data-fancybox data-src="#fmodal-new-contract" class="hover"><use xlink:href="#svg-edit"></use></svg>
                                            </td>
                                            <td class="td-btn-default">
                                                <svg class="hover"><use xlink:href="#svg-del"></use></svg>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    <!-- End tab content 4 -->

                    <!-- Start tab content 5 -->
                    <div data-id="5" class="tabs__item">

                        <div class="tabs__tableContainer">
                            <div class="tabs__table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="text-start">Статус</th>
                                            <th class="text-start">Счёт/<br>Сумма, руб</th>
                                            <th class="text-start">Дата/Время<br>Инициатор</th>
                                            <th class="text-start">Комментарий</th>
                                        </tr>
                                    </thead>
        
                                    <tbody>
                                        <tr class="pointer">
                                            <td class="text-start">Не оплачен</td>
                                            <td class="text-start"><a href="#">№4345_от_05.10.2023.doc</a><br><span>50 000,00</span></td>
                                            <td class="text-start"><span>05.10.23 в 14:08</span><br><span>Сидоров Ю. Р.</span></td>
                                            <td class="text-start">Коментарий абсолютно любой длинный и даже в две строчки</td>
                                            <td class="td-btn-default">
                                                <svg data-fancybox data-src="#fmodal-new-bill" class="hover"><use xlink:href="#svg-edit"></use></svg>
                                            </td>
                                            <td class="td-btn-default">
                                                <svg class="hover"><use xlink:href="#svg-del"></use></svg>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    <!-- End tab content 5 -->

                    <!-- Start tab content 6 -->
                    <div data-id="6" class="tabs__item">
                        <div class="tabs__tableContainer">
                            <div class="tabs__table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="text-start">Статус</th>
                                            <th class="text-start">Тип</th>
                                            <th class="text-start">Имя</th>
                                            <th class="text-start">Дата заключения</th>
                                            <th class="text-start">Срок действия</th>
                                        </tr>
                                    </thead>
        
                                    <tbody>
                                        <tr class="pointer">
                                            <td class="text-start">Не активный</td>
                                            <td class="text-start">Договор</td>
                                            <td class="text-start"><a href="#">Договор оказания_услуг.pdf</a></td>
                                            <td class="text-start">31.12.2022</td>
                                            <td class="text-start">31.12.2022</td>
                                            <td class="td-btn-default">
                                                <svg data-fancybox data-src="#fmodal-new-document" class="hover"><use xlink:href="#svg-edit"></use></svg>
                                            </td>
                                            <td class="td-btn-default">
                                                <svg class="hover"><use xlink:href="#svg-del"></use></svg>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- End tab content 6 -->

                    <!-- Start tab content 7 -->
                    <div data-id="7" class="tabs__item">

                        <div class="tabs__tableContainer">
                            <div class="tabs__table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="text-start">№ заявки</th>
                                            <th class="text-start">Статус</th>
                                            <th class="text-start">Тип заявки</th>
                                            <th class="text-start">Исполнители</th>
                                            <th class="text-start">Инициатор</th>
                                        </tr>
                                    </thead>
        
                                    <tbody>
                                        <tr data-fancybox data-src="#fmodal-request-view" class="pointer">
                                            <td class="text-start">12654</td>
                                            <td class="text-start">В работе</td>
                                            <td class="text-start">Монтаж</td>
                                            <td class="text-start"><span>Иванов И. И.</span><br><span>Сидоров С. С.</span><br><span>Сергеев М. М.</span></td>
                                            <td class="text-start">Петров С. И.</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    <!-- End tab content 7 -->

                </div>
                {# End tabs__header #}
            </div>

        </div>
        <!-- End Основное содержимое модалки -->



    </div>
</div>
<!-- End Модалка просмотра клиента -->



{#
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
#}

{#
    -----------   Ajax скрипты для работы с модалкой    -----------
#}

{# Start функция загрузки модалки "Новое контактное лицо" #}
<script>
function load_fmodal_contacts_persons(client_id) { // Должны передать id клиента, для которого нужно загрузить модалку

    $wrapper = $('#fmodal-contact-person-wrapper');

    let url = API_V1_URLS.clients.render + 'fmodal-new-contact-person'; // API_V1_URLS - Смотрим в main.js

    $.ajax({
        url: url,
        method: "POST",
        data: {
            client_id: client_id, // Передаем id клиента
        },
        success: function (response) {
            if (response.status == "success") {
                $wrapper.html(response.render_response_html);

                $.fancybox.open({
                    src: '#fmodal-new-contact-person',
                    type: 'inline'
                });

                dd(response, `Render fmodal-new-contact-person.twig ${url}`);
            }

            if (response.status == "error") {
                console.log(response);
                $wrapper.html(`<div style="height: 100%; width: 100%; display: flex; align-items: center; justify-content: center; font-size: 1.5rem;">${response.message}</div>`);
            }
        }
    });
}
</script>
{# End функция загрузки модалки "Новое контактное лицо" #}

{#  Start функция загрузки таба контактниые лица #}
<script>
function load_tab_contacts_persons (client_id, is_reload = false) {
    $wrapper = $('#modal-client-tab-contacts-persons-content');

    let url = API_V1_URLS.clients.render + 'tab-content-contacts-persons'; // API_V1_URLS - Смотрим в main.js

    if (!$wrapper.hasClass('loaded') && !is_reload) { // Если вкладка не загружена
        go_ajax();
    }

    if (is_reload) {
        go_ajax();
    }

    function go_ajax() {
        $.ajax({
            url: url,
            method: "POST",
            data: {
                client_id: client_id, // Передаем id клиента
            },
            success: function (response) {
                $wrapper.removeClass("loading");

                if (response.status == "success") {
                    $wrapper.removeClass('loading');
                    $wrapper.html(response.render_response_html);
                    $wrapper.addClass('loaded');
                    resizeTableModal(); // Ресайзим под размеры. Костыль

                    dd(response, `Render tab-content-contacts-persons.twig ${url}`);
                }

                if (response.status == "error") {
                    $wrapper.html(`<div style="height: 100%; width: 100%; display: flex; align-items: center; justify-content: center; font-size: 1.5rem;">${response.message}</div>`);
                }
            },
            beforeSend: function(s) {
                $wrapper.addClass('loading');
            }
        });
    }
}
</script>
{#  End функция загрузки таба контактниые лица #}

{# Start функция загрузки таба объекты #}
<script>
function load_tab_objects (client_id, is_reload = false, condition_filtres = false) {
    $wrapper = $('#modal-client-tab-objects-content');

    if (!$wrapper.hasClass('loaded') && !is_reload) { // Если вкладка не загружена
        go_ajax();
    }

    if (is_reload) {
        go_ajax();
    }


    function go_ajax() {
        let url = API_V1_URLS.clients.render + 'tab-content-objects'; // API_V1_URLS - Смотрим в main.js

        let data = {client_id: client_id};

        if (condition_filtres) {
            data.condition_filtres = condition_filtres;
        }

        $.ajax({
            url: url,
            method: "POST",
            data: data,
            success: function (response) {
                $wrapper.removeClass("loading");

                if (response.status == "success") {
                    $wrapper.removeClass('loading');
                    $wrapper.html(response.render_response_html);
                    $wrapper.addClass('loaded');
                    resizeTableModal(); // Ресайзим под размеры. Костыль

                    dd(response, `Render tab-content-objects.twig ${url}`);
                }

                if (response.status == "error") {
                    $wrapper.html(`<div style="height: 100%; width: 100%; display: flex; align-items: center; justify-content: center; font-size: 1.5rem;">${response.message}</div>`);
                }
            },
            beforeSend: function(s) {
                $wrapper.addClass('loading');
            }
        });
    }
}
</script>
{# End функция загрузки таба объекты #}

{# Start функционал сохранения данных #}
<script>
    save_big_modal('modal-client', async () => {
        let client_id = $('#modal-client').data('client-id');
        
        let url = API_V1_URLS.clients.update;

        let formData = cpns_get_formdata_by_wrapper('#modal-client .tabs__item[data-id="1"] .modal-client__data-edit');

        formData.append('id', client_id);

        return await xpost_fd(url, formData).then(response => {
            dd(response, response.message, 'success');
            push(response.message, 'success');

            load_modal_client(client_id, true); // Обновляем
            xrender_main_table_clients(1);

            return new Promise((resolve, reject) => {
                resolve(response);
            });

        }).catch(response => {
            dd(response, response.message, 'error');
            push(response.message, 'error');

            return new Promise((resolve, reject) => {
                reject(resp);
            });
        });
    }, 1);
</script>
{# End функционал сохранения данных #}