{#
    request_params - параметры запроса
    client - текущий клиент
    contracts - договоры
#}

{% if contracts | length %}
<div class="tabs__tableContainer">
    <div class="tabs__table">
        <table>
            <thead>
                <tr>
                    <th class="text-start">П/п №</th>
                    <th class="text-start">Тип договора/<br>Статус</th>
                    <th>№ договора</th>
                    <th>Дата заключения</th>
                    <th>Срок действия</th>
                    <th>Ответственный</th>
                </tr>
            </thead>

            <tbody>
                {% for contract in contracts %}
                    {% set responsibleUser = contract.responsibleUser.surname ~ ' ' ~ contract.responsibleUser.name %}
                    <tr class="pointer">
                        <td class="text-start">{{ contract.id }}</td>
                        <td class="text-start" style="max-width: 150px;">
                            <div {% if contract.doc_type_id %}style="padding: 10px 0;"{% endif %}>
                                <span {% if contract.doc_type_id %}style="margin-bottom: 6px; display: inline-block;"{% endif %}>{{ contract.docType[contract.doc_type_id] | default('Тип не определен') }}</span><br>
                                <span>{% if date().timestamp > contract.contract_date_end | date().timestamp %}asd{% endif %}</span>
                            </div>
                        </td>
                        <td>{{ contract.contract_num | default('-') }}</td>
                        <td>{{ contract.contract_date_start | date('d.m.Y') | default('-') }}</td>
                        <td>{{ contract.contract_date_end | date('d.m.Y') | default('-') }}</td>
                        <td>{{ short_name(contract.responsibleUser.name, contract.responsibleUser.surname, contract.responsibleUser.patronymic) }}</td>

                        <td class="td-btn-default">
                            <svg onclick="load_fmodal_contract_update({{ contract.id }})" class="hover"><use xlink:href="#svg-edit"></use></svg>
                        </td>
                        <td class="td-btn-default">
                            <svg onclick="delete_contract_by_id({{ contract.id }}, {{ client.id }})" class="hover"><use xlink:href="#svg-del"></use></svg>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
    Договоры отсутствуют
{% endif %}