{#
    request_params - параметры запроса
    client - массив с клиентами
#}
<div class="tabs__tableContainer">
    <div class="tabs__table">
        <table>
            <thead>
                <tr>
                    <th class="text-start">ФИО<br>Должность</th>
                    <th class="text-start">Дата рождения</th>
                    <th class="text-start">Телефон/<br>Почта</th>
                    <th class="text-start">Инициатор/<br>Дата/Время</th>
                </tr>
            </thead>

            <tbody>
                {% if client.contacts_persons and client.contacts_persons is iterable %}
                    {% for person in client.contacts_persons %}
                        <tr>
                            <td class="text-start"><span>{{ person.surname ~ ' ' ~ person.name ~ ' ' ~ name.patronymic}}</span><br><span class="text-secondary">{{ person.post | default('Должность не заполнена') }}</span></td>
                            <td class="text-start">{{ person.birth | default('-') }}</td>
                            <td class="text-start"><span>{{ person.tel | default('Телефон не задан') }}</span><br><span>{{ person.email | default('Email не задан') }}</span></td>
                            <td class="text-start">
                                <span>{% if person.user_add != false %}{{ person.user_add.surname }} {{ person.user_add.name }} {{ person.user_add.patronymic }}{% else %}Инициатор не определен{% endif %}</span>
                                <br>
                                <span>{{ person.created_at | date('Y.m.d') }} в {{ person.created_at | date('H:m') }}</span>
                            </td>
                            <td class="td-btn-default">
                                <svg data-fancybox data-src="#fmodal-new-contact-person" class="hover"><use xlink:href="#svg-edit"></use></svg>
                            </td>
                            <td class="td-btn-default">
                                <svg><use xlink:href="#svg-del"></use></svg>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>