{#
    request_params - параметры запроса
    client - текущий клиент
    contracts - договоры
#}

{% if contracts | length %}
<div class="tabs__tableContainer">
    <div class="tabs__table">
        <table>
            <thead>
                <tr>
                    <th class="text-start">П/п №</th>
                    <th class="text-start">Тип договора/<br>Статус</th>
                    <th>№ договора</th>
                    <th>Дата заключения</th>
                    <th>Срок действия</th>
                    <th>Ответственный</th>
                </tr>
            </thead>

            <tbody>
                {% for contract in contracts %}
                    {% set responsibleUser = contract.responsibleUser.surname ~ ' ' ~ contract.responsibleUser.name %}
                
                    <tr class="pointer">
                        <td class="text-start">{{ contract.id }}</td>
                        <td class="text-start">
                            <span>{{ contract.docType.name }}</span><br>
                            <span>{% if date().timestamp > contract.contract_date_end | date().timestamp %}asd{% endif %}</span>
                        </td>
                        <td>{{ contract.contract_num }}</td>
                        <td>{{ contract.contract_date_start | default('-') }}</td>
                        <td>{{ contract.contract_date_end | default('-') }}</td>
                        <td>{{ responsibleUser }}</td>

                        <td class="td-btn-default">
                            <svg onclick="load_fmodal_contract_update({{ contract.id }}, {{ client.id }})" class="hover"><use xlink:href="#svg-edit"></use></svg>
                        </td>
                        <td class="td-btn-default">
                            <svg onclick="delete_contract_by_id({{ contract.id }}, {{ client.id }})" class="hover"><use xlink:href="#svg-del"></use></svg>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
    Договоры отсутствуют
{% endif %}